/* Overall dashboard container */
.dashboard-container {
  display: block; /* Use block instead of flex for the main container */
  height: 100vh;
  background-color: #333;
  color: #fff; /* Text color set to white for visibility */
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px; /* Adjusted padding */
  padding-left: 30px;
  border-bottom: 2px solid #444;
  overflow: hidden; /* Prevents overflow */
}

.header-left {
  flex-grow: 1;
  padding: 10px 0; /* Make sure the title has space */
}

.header-right {
  flex-shrink: 0; /* Prevent the logo container from shrinking */
  padding: 10px 0; /* Provides padding without pushing the image out */
}

.logo {
  height: auto; /* Adjust height automatically */
  max-height: 100%; /* Make sure the image is never taller than the header */
  width: auto; /* Adjust width automatically */
  max-width: 100%; /* Prevents the logo from being wider than its container */
}

/* Content container for side panel and main panel */
.content-container {
  display: flex; /* Use flex to arrange children side by side */
  height: calc(
    100% - 60px
  ); /* Adjust height to fill the remaining space, accounting for the header height */
}

/* Side panel styling */
.side-panel {
  width: 15%; /* Adjust width as needed */
  background-color: #222;
  color: #fff; /* Text color set to white for visibility */
  padding: 20px;
  /* border-right: 2px solid #444;
  overflow: auto; /* Enable scrolling if content overflows */
}

/* Main panel styling */
.main-panel {
  flex-grow: 1; /* Allow the main panel to fill the remaining width */
  background-color: #222;
  color: #fff; /* Text color set to white for visibility */
  padding: 20px;
  overflow: auto; /* Enable scrolling if content overflows */
}

/* Reset default browser styles */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%; 
  width: 100%; 
}

.header-title {
  font-size: 34px;
  font-family: Verdana;
  color: #D6D7D7;
  margin: 0; /* Remove default margins */
}

.logo {
  height: 50px;
  padding-right: 40px;
}

.title {
  margin-bottom: 20px;
  color: #007bff;
}

/* Style for the static text box */
.static-text-box {
  background-color: #222; /* Matching the side-panel background color */
  color: #fff; /* White text color for readability */
  padding: 7px; /* Inner spacing for text */
  margin-bottom: 20px; /* Space below the text box */
  overflow-y: auto; /* Allows for a scrollbar if the text overflows */
  max-height: 250px; /* Maximum height for the text box */
  font-family: Helvetica;
}

.dropdown-container {
  margin-bottom: 20px;
}



.reset-button-container {
  margin-top: 20px;
}

.reset-button {
  border-radius: 10px; /* This property rounds the corners of the button */
}

/* Charts container within the main panel */
.charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 20px;
  gap: 20px;
}

/* Style adjustments for graphs */
.map-graph,
.bar-graph {
  background-color: #222;
  border: 1px solid #444;
}

/* Style dropdowns */
.Select-control,
.Select-menu-outer {
  background-color: #222;
  color: #fff;
  font-family: Helvetica;
}

/* Style for the dropdown label */
.dropdown-label {
  font-family: Helvetica, sans-serif; /* Use Helvetica as the primary font, with a generic sans-serif as a fallback */
  color: #ffffff; 
  padding-bottom: 10px;
  font-weight: bold;
}

.dropdown {
  padding-bottom: 20px;
  padding-top: 10px;

}

/* CSS for the dropdown selected option */
.Select-value,
.Select-value-label {
  color: white !important; /* Ensure this overrides any other styles */
  font-family: Helvetica;
}

/* CSS for the dropdown option when it's hovered over in the menu */
.Select-option.is-focused {
  background-color: #444 !important;
  font-family: Helvetica; /* Darker background for the focused option */
}

/* CSS for the dropdown option when it's selected */
.Select-option.is-selected {
  background-color: #333 !important; /* Dark background for the selected option */
  color: white !important;
  font-family: Helvetica;
}

/* CSS for the placeholder of the dropdown */
.Select-placeholder {
  color: white !important; /* White color for the placeholder text */
  font-family: Helvetica;
}

/* CSS for the control of the dropdown */
.Select-control {
  background-color: #333 !important;
  border-color: #555 !important; /* Matching border color */
  font-family: Helvetica;
}

/* Style buttons */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-family: Helvetica;
}

button:hover {
  background-color: #0056b3;
}

/* Toggle container styling */
.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #2c3e50; /* A dark background color for the toggle container */
}

/* Radio items styling */
.radio-items {
  display: flex;
  gap: 20px; /* Add space between radio items */
  color: #fff; /* White text color for better readability on a dark background */
  font-size: 16px; /* Increase font size for better visibility */
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: Helvetica;
}

/* Individual radio buttons styling */
.radio-items input[type="radio"] {
  accent-color: #007bff; /* Change the selection color */
  margin-right: 5px; /* Space out the radio button from its label */
  font-family: Helvetica;
}

/* Labels for radio buttons styling */
.radio-items label {
  cursor: pointer; /* Indicate that labels are clickable */
  padding: 5px 10px; /* Add some padding for clickable area */
  border-radius: 5px; 
  transition: background-color 0.3s; /* Smooth transition for background color change */
  font-family: Helvetica;
}

/* Hover effect for labels */
.radio-items label:hover {
  background-color: #34495e; /* Darker background on hover for labels */
}

/* Style for the selected radio item label */
.radio-items input[type="radio"]:checked + label {
  background-color: #007bff; /* Change background of selected label */
  color: #fff; /* Ensure text is white on the selected label */
}
